version: "3.9"

services:
  web:
    build: .
    container_name: "rest_project_web"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/.venv
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8000:8000"
    command: "/app/.venv/bin/python manage.py runserver 0.0.0.0:8000"

  db:
    image: postgres:16.0-alpine
    container_name: "rest_project_db"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:7-alpine
    container_name: "rest_project_redis"
    ports:
      - "6379:6379"

    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 1s
      timeout: 3s
      retries: 5

  worker:
    build: .
    container_name: "rest_project_celery_worker"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/.venv
    depends_on:
      redis:
        condition: service_healthy
    command: "/app/.venv/bin/celery -A config worker -l info"

  celery_beat:
    build: .
    container_name: "rest_project_celery_beat"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/.venv
    depends_on:
      redis:
        condition: service_healthy
    command: "/app/.venv/bin/celery -A config beat -l info"

volumes:
  postgres_data:
