name: CI/CD for Rest Project

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/rest_project 

            # Обновляем код
            git fetch origin main
            git reset --hard origin/main

            # 1. Останавливаем контейнеры
            sudo docker compose down
            
            # 2. Очищаем неиспользуемые образы и кэш билда (чтобы убрать ошибку "already exists")
            # Флаг -f делает это без подтверждения
            sudo docker image prune -f

            # 3. Собираем образы заново без использования старого кэша, если он битый
            sudo docker compose build --no-cache

            # 4. Поднимаем проект
            sudo docker compose up -d
